<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO OF RETIREMENTS </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/lib/tailwindcss.js"></script>
</head>
<body>
    <nav class="px-4 py-2 bg-[#ffff]" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" >
        <div class="flex justify-between items-center">
            <div class="">
                <img src="./static/images/logo_2.png" alt="Logo" class="w-14 h-16 text-[#79767b] ">
            </div>
            <ul class="flex items-center text-[14px] text-[#747176] font-bold   gap-4">
                <li class="mr-7">
                    <a href="/landing_page_welfare" class="border-b-4 border-[#000] p-2">Home</a>
                </li>
                <li class="mr-7">
                    <a href="#" class="">Dept Forms</a>
                    <ul class="dropdown-menu capitalize">
                        {% for form in form_names|sort(attribute='form_name') %}
                            <li><a href="{{ form.form_name }}">{{ form.form_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                  <li class="mr-7">
                      <a href="#" class="">Establishment </a>
                  </li>
                <li class="mr-7">
                    <a href="#" class="">Reports</a>
                </li>
                
               
            </ul>
            <div class="">
              <div id="" class="profile_btn">
                  <div class="flex items-center">
                      <img src="./static/images/Male User.svg" alt="" id="profile_btn">
                  </div>
                  

                  <div id="profile_box">
                      <div class="flex flex-col bg-white text-left shadow-lg rounded border">
                          <div class="p-3">
                              <div class="capitalize font-bold" id="u_name">{{user.name}}</div>
                              <div class="lowercase text-sm mt-1.5" id="u_email">{{user.email}}</div>
                          </div>
                          <div class="text-sm bg-red-500 block p-3 text-white cursor-pointer" id=""><a href = "{{ url_for('logout')}}">Logout </a></div>
                      </div>
                  </div>
              </div>
          </div>
            
        </div>
    </nav>
    <div class="max-w-screen-xl mx-auto  mt-4 rounded-lg   p-8 " style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;" >
        <div class="flex justify-center rounded-lg  p-2" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
            <form action="{{ url_for('edit_retirements', rt_id = Retirements.id) }}" method="POST" >
                    <div class="text-lg mb-6 font-Large text-gray-900" style="text-align: center;">
                        <h2>NO OF RETIREMENTS</h2>
                    </div>

                    <div class="grid grid-cols-2 items-center ml-8 gap-8">
                        <div class="relative">
                            <div for="" class="block text-sm font-medium text-gray-900 rounded-sm w-fit px-1 flex mb-1">Concerned Department</div>
                            <div class=""></div>
                            <select id="Concerned_Department_Retirements" name='Concerned_Department_Retirements' 
                                class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
                                style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                                <option value="" selected disabled hidden>Select an Option</option>
                                <option value="General Administration" {% if Retirements.concerned_department == 'General Administration' %} selected {% endif %}>General Administration</option>
                                <option value="Mechanical, electrical & electronics" {% if Retirements.concerned_department == 'Mechanical, electrical & electronics' %} selected {% endif %}>Mechanical, Electrical & Electronics</option>
                                <option value="Civil Engineering" {% if Retirements.concerned_department == 'Civil Engineering' %} selected {% endif %}>Civil Engineering</option>
                                <option value="Finance" {% if Retirements.concerned_department == 'Finance' %} selected {% endif %}>Finance</option>
                                <option value="Traffic" {% if Retirements.concerned_department == 'Traffic' %} selected {% endif %}>Traffic</option>
                                <option value="Medical" {% if Retirements.concerned_department == 'Medical' %} selected {% endif %}>Medical</option>
                                <option value="Marine" {% if Retirements.concerned_department == 'Marine' %} selected {% endif %}>Marine</option>
                                <option value="Resource & Planning" {% if Retirements.concerned_department == 'Resource & Planning' %} selected {% endif %}>Resource & Planning</option>
                            </select>
                        </div>
                        
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Post Category</div>
                            <div class=""></div>
                            <select id="Post_Category_Retirements" name='Post_Category_Retirements' 
                                class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
                                style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                                <option value="" selected disabled hidden>Select an Option</option>
                                <option value="CLASS 1" {% if Retirements.post_category == 'CLASS 1' %} selected {% endif %}>CL-1</option>
                                <option value="CLASS 2" {% if Retirements.post_category == 'CLASS 2' %} selected {% endif %}>CL-2</option>
                                <option value="CLASS 3" {% if Retirements.post_category == 'CLASS 3' %} selected {% endif %}>CL-3</option>
                                <option value="CLASS 4" {% if Retirements.post_category == 'CLASS 4' %} selected {% endif %}>CL-4</option>
                            </select>
                        </div>
                
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Employee Code</div>
                            <div class=""></div>
                            <input type="text" id="Employee_Code_Retirements" name='Employee_Code_Retirements' value="{{Retirements.employee_code}}" class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                        </div>
                
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Employee Name</div>
                            <div class=""></div>
                            <input type="text" id="Employee_Name_Retirements" name='Employee_Name_Retirements' value="{{Retirements.employee_name}}" class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                        </div>
                
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Designation</div>
                            <div class=""></div>
                            <select id="Designation_Retirements" name='Designation_Retirements' class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
                                 style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                                   <option value="" selected disabled hidden>Select an Option</option>
                                </select>
                        </div>
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Payscale</div>
                            <div class=""></div>
                            <select id="Payscale_Retirements" name='Payscale_Retirements' class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
                            style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                                <option value="" selected disabled hidden>Select an Option</option>
                                <option value="100000-260000" {% if Retirements.payscale == '100000-260000' %} selected {% endif %}>100000-260000</option>
                                <option value="120000-280000" {% if Retirements.payscale == '120000-280000' %} selected {% endif %}>120000-280000</option>
                                <option value="123100 - 215900" {% if Retirements.payscale == '123100 - 215900' %} selected {% endif %}>123100 - 215900</option>
                                <option value="130600-215900" {% if Retirements.payscale == '130600-215900' %} selected {% endif %}>130600-215900</option>
                                <option value="144200-218200" {% if Retirements.payscale == '144200-218200' %} selected {% endif %}>144200-218200</option>
                                <option value="16400-40500" {% if Retirements.payscale == '16400-40500' %} selected {% endif %}>16400-40500</option>
                                <option value="20900-43600" {% if Retirements.payscale == '20900-43600' %} selected {% endif %}>20900-43600</option>
                                <option value="21800-50200" {% if Retirements.payscale == '21800-50200' %} selected {% endif %}>21800-50200</option>
                                <option value="22300-51000" {% if Retirements.payscale == '22300-51000' %} selected {% endif %}>22300-51000</option>
                                <option value="23100-54600" {% if Retirements.payscale == '23100-54600' %} selected {% endif %}>23100-54600</option>
                                <option value="24200-58600" {% if Retirements.payscale == '24200-58600' %} selected {% endif %}>24200-58600</option>
                                <option value="25000-59600" {% if Retirements.payscale == '25000-59600' %} selected {% endif %}>25000-59600</option>
                                <option value="25200-59600" {% if Retirements.payscale == '25200-59600' %} selected {% endif %}>25200-59600</option>
                                <option value="27400-70500" {% if Retirements.payscale == '27400-70500' %} selected {% endif %}>27400-70500</option>
                                <option value="29600-81000" {% if Retirements.payscale == '29600-81000' %} selected {% endif %}>29600-81000</option>
                                <option value="29600-81100" {% if Retirements.payscale == '29600-81100' %} selected {% endif %}>29600-81100</option>
                                <option value="32500-83800" {% if Retirements.payscale == '32500-83800' %} selected {% endif %}>32500-83800</option>
                                <option value="35200-83800" {% if Retirements.payscale == '35200-83800' %} selected {% endif %}>35200-83800</option>
                                <option value="36500-88700" {% if Retirements.payscale == '36500-88700' %} selected {% endif %}>36500-88700</option>
                                <option value="40000 - 140000" {% if Retirements.payscale == '40000 - 140000' %} selected {% endif %}>40000 - 140000</option>
                                <option value="40000- 140000" {% if Retirements.payscale == '40000- 140000' %} selected {% endif %}>40000- 140000</option>
                                <option value="40000-140000" {% if Retirements.payscale == '40000-140000' %} selected {% endif %}>40000-140000</option>
                                <option value="50000- 160000" {% if Retirements.payscale == '50000- 160000' %} selected {% endif %}>50000- 160000</option>
                                <option value="50000-160000" {% if Retirements.payscale == '50000-160000' %} selected {% endif %}>50000-160000</option>
                                <option value="60000- 180000" {% if Retirements.payscale == '60000- 180000' %} selected {% endif %}>60000- 180000</option>
                                <option value="60000-180000" {% if Retirements.payscale == '60000-180000' %} selected {% endif %}>60000-180000</option>
                                <option value="70000-200000" {% if Retirements.payscale == '70000-200000' %} selected {% endif %}>70000-200000</option>
                                <option value="80000-220000" {% if Retirements.payscale == '80000-220000' %} selected {% endif %}>80000-220000</option>
                                <option value="90000-240000" {% if Retirements.payscale == '90000-240000' %} selected {% endif %}>90000-240000</option>
                                </select>
                        </div>
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Retirement Date</div>
                            <div class=""></div>
                            <input type="date" id="Retirement_Date_Retirements" name='Retirement_Date_Retirements' value="{{Retirements.retirement_date}}" class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                        </div>
                
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Residing in port quaters</div>
                            <div class=""></div>
                            <select  id="Residing_Port_Quaters_Retirements" name='Residing_Port_Quaters_Retirements'  
                            class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
                            style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                                <option value="" selected disabled hidden>Select an Option</option>
                                <option value="Yes" {% if Retirements.residing_in_port_quaters == 'Yes' %} selected {% endif %}>YES</option>
                                <option value="No" {% if Retirements.residing_in_port_quaters == 'No' %} selected {% endif %}>NO</option>
                        </select>
                        </div>
                
                        <div class="relative">
                            <div for="" class="block  text-sm font-medium text-gray-900  rounded-sm w-fit px-1   flex mb-1">Remarks by GAD</div>
                            <div class=""></div>
                            <input type="text"  placeholder="Remarks (If any)" id="Remarks_Gad_Retirements" name='Remarks_Gad_Retirements' value="{{Retirements.remarks_by_gad}}" class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                        </div>
                
                        <div class="relative">
                            <div for="" class="block text-sm font-medium text-gray-900 w-fit px-1 bg-[#fff] flex mb-1">Remarks by Finance</div>
                            <div class=""></div>
                            <input type="text" disabled placeholder="Remarks (If any)" id="Remarks_Finance_Retirements" name='Remarks_Finance_Retirements' value="{{Retirements.remarks_by_finance}}" class="border border-gray-300 text-gray-900 text-sm bg-[#fff]  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[500px] p-[11px] outline-none  " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;">
                        </div>
                        
                        <div class="col-span-2 flex justify-center mx-6 my-6">
                            <button type="submit" class="w-fit bg-green-500 text-white py-2 px-4 rounded shadow text-sm" id="civil_submit_btn">Submit</button>
                        </div>                             
                </div> 
              </form>
        </div>
    </div>
</body>
<script>
    const Designation = document.getElementById('Designation_Retirements');
document.addEventListener('DOMContentLoaded', function() {
    var xmlhttp = new XMLHttpRequest();
    var url = '/get_designations';
    xmlhttp.open('POST', url, true);
    xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
            if (xmlhttp.status == 200) {
                let data = JSON.parse(xmlhttp.responseText);
                let options = data.options;
                let storedValue = "{{Retirements.designation}}";
                console.log('Stored value:', storedValue);
                for (let i = 0; i < options.length; i++) {
                    let option_val = options[i].title;
                    let option = document.createElement('option');
                    option.value = option_val;
                    option.textContent = option_val;
                    if (storedValue === option_val) {
                        option.selected = true; 
                    }
                    Designation.appendChild(option);
                }
            } else {
                console.error('Error:', xmlhttp.statusText);
            }
        }
    };
    xmlhttp.send();
});

</script>
</html>